#id1{
    color: beige;
}

.item{
    width: 33.3%;
}

div.item{
    color: chocolate;
}

div h3 {
    color: crimson;
}
.box_1{
    background-color: yellow;
}
.box_2{
    background-color: aqua;
    /* margin: 20px; */
    /* margin: 20px 50px; */
    /* margin: 20px 30px 50px; */
    margin: 20px 50px 60px 100px;
}
.box_3{
    background-color: blueviolet;
}
.box_4{
    margin: 70px;
}
.ex1{
    border-style: double;
    border-width: thin;
    border-color: rgb(0, 255, 94);
}
.padding_70px{
    padding: 70px;
}
.padding-vertical-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.margin_5px{
    margin: 5px;
}
.margin_75px{
    margin: 75px;
}
.padding_10px{
    padding: 10px;
}

